# Importar Pandas

In [1]:
#importa pandas
import pandas as pd
import numpy as np

# Crear una Serie

Explore series en python en el siguiente [link](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html) en las primeras lineas del documento

In [23]:
# Crea una Serie de los numeros 10, 20 and 10.
serie= pd.Series([10,20,10])
serie

0    10
1    20
2    10
dtype: int64

In [24]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'
s = pd.Series(['rojo','verde','azul'])
s

0     rojo
1    verde
2     azul
dtype: object

# Crear un Dataframe

In [ ]:
# Crea un dataframe vacío llamado 'df'
df = pd.Dataframe()

In [66]:
# Crea una nueva columna en el dataframe, y asignale la primera serie que has creado
df = pd.DataFrame({'Series':serie})
df.head()

   Series
0      10
1      20
2      10

In [73]:
## Crea otra columna en el dataframe y asignale la segunda Serie que has creado
df = pd.DataFrame({'Series':serie,'Objetos':s})
df.head()

   Series Objetos
0      10    rojo
1      20   verde
2      10    azul

# Leer un dataframe

In [1]:
# Lee el archivo llamado 'avengers.csv" localizado en la carpeta "data" y crea un DataFrame, llamado 'avengers'. 
# El archivo está localizado en "data/avengers.csv"

df=pd.read_csv('./src/input/data/avengers.csv',sep=',')
df.head()
df_avengers= pd.Dataframe(df)

# Inspeccionar un dataframe

In [76]:
# Muestra las primeras 5 filas del DataFrame.
df.head()

   Series Objetos
0      10    rojo
1      20   verde
2      10    azul

In [78]:
# Muestra las primeras 10 filas del DataFrame. 
df.head(10)

   Series Objetos
0      10    rojo
1      20   verde
2      10    azul

In [80]:
# Muestra las últimas 5 filas del DataFrame.
df.tail()

   Series Objetos
0      10    rojo
1      20   verde
2      10    azul

# Tamaño del DataFrame

In [74]:
# Muestra el tamaño del DataFrame
df.shape

(3, 2)

# Data types en un DataFrame

In [81]:
# Muestra los data types del dataframe
df.dtypes

Series      int64
Objetos    object
dtype: object

# Editar el indice (index)

In [ ]:
# Cambia el indice a la columna "fecha_inicio".

df2 = df.set_index("fecha_inicio").copy()
df2.head()

# Ordenar el indice

In [83]:
# Ordena el índice de forma descendiente
df_descendiente= df.sort_index( ascending=False)
df_descendiente.head()

   Series Objetos
2      10    azul
1      20   verde
0      10    rojo

# Resetear el indice

In [86]:
# Resetea el índice
df.reset_index(drop=True, inplace=True)
df.head()

   Series Objetos
0      10    rojo
1      20   verde
2      10    azul